.traffic-light {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #333;
  }
  
  .traffic-light.vertical {
    flex-direction: column;
    width: 210px;
  }
  
  .traffic-light.horizontal {
    flex-direction: row;
    height: 210px;
  }
  